<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <!-- To Do: take out the file attribute in the line below, and set your own configuration here -->
  <appSettings file="../../../../AppMyOwn.config">
    <add key="baseApiUrl" value="https://developer.api.autodesk.com/"/>
    <add key="clientID" value=""/>
    <add key="clientSecret" value=""/>
  </appSettings>
</configuration>
